/* For Naviation Bar */
.navbar {
    background: #121212;
    /* Dark background color */
    box-shadow: 1px -1px 19px 3px rgba(0, 0, 0, 0.5);
}

/* For Home */
.hero-slider {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(to right, rgba(30, 30, 30, 1) 0%, rgba(45, 45, 45, 1) 60%, rgba(60, 60, 60, 1) 100%);
}

#hero-heading {
    color: white;
}

#hero-left {
    width: 70%;
}

#home-subheading {
    margin-right: 72%;
}

#hero-img {
    width: 75%;
    height: auto;
    filter: drop-shadow(0 25px 8px rgba(0, 0, 0, 0.6));
    box-shadow:
        0 8px 15px rgba(0, 0, 0, 0.4),
        0 15px 30px rgba(0, 0, 0, 0.3),
        0 30px 60px rgba(0, 0, 0, 0.2);
    border-radius: 3vw;
    background-image: linear-gradient(to bottom, #1e3a8a 0%, #5c2e91 33%, #d83a7e 66%, #c81d6d 100%);
}

/* Custom Button */
.custom-btn {
    background: linear-gradient(to right, #1e3a8a 0%, #c81d6d 100%);
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 2vw;
    box-shadow:
        0 8px 15px rgba(0, 0, 0, 0.4),
        0 15px 30px rgba(0, 0, 0, 0.3),
        0 30px 60px rgba(0, 0, 0, 0.2);
}

.custom-btn:hover {
    background: linear-gradient(to right,
            #0b2470 0%,
            #8a0945 100%);
    box-shadow:
        0 12px 20px rgba(0, 0, 0, 0.5),
        0 20px 40px rgba(0, 0, 0, 0.4),
        0 40px 80px rgba(0, 0, 0, 0.3);
}

.custom-btn:focus {
    outline: none;
    box-shadow:
        0 0 0 3px rgba(0, 0, 0, 0.2);
}

#hero-right {
    justify-content: center;
    align-items: center;
}

/* Card Button */
.card-btn {
    background: #333;
    border: 2px solid #555;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 2vw;
    box-shadow:
        0 8px 15px rgba(0, 0, 0, 0.4),
        0 15px 30px rgba(0, 0, 0, 0.3),
        0 30px 60px rgba(0, 0, 0, 0.2);
}

.card-btn:hover {
    background: #444;
    border-color: #666;
    box-shadow:
        0 12px 20px rgba(0, 0, 0, 0.5),
        0 20px 40px rgba(0, 0, 0, 0.4),
        0 40px 80px rgba(0, 0, 0, 0.3);
}

.card-btn:focus {
    outline: none;
    box-shadow:
        0 0 0 3px rgba(0, 0, 0, 0.2);
}